doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // REPLACE KEY BELOW WITH YOUR OWN GOOGLE MAPS API KEY
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDV0vzntRSHed7gVgG6t0xsHbS7l8mjCpk', async, defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js')
    script(src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='https://unpkg.com/es6-promise@4.0.5/dist/es6-promise.min.js')
    script.
      ES6Promise.polyfill()
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js')
    script(src='https://momentjs.com/downloads/moment-timezone-with-data.min.js')
  body
    block content
