extends layout

include mixins/_checkinBox.pug

block content

  h1.text-center Hi Mom!

  .sticky-top
    #map

  #timeline
    .list-group
      each item in checkins
        +checkinBox(item)

  script.
    // Snag the venues data from our pug data injection, hope this works??
    var venues = !{JSON.stringify(venues)}

    var map = L.map('map', {
        center: [18.7680, 98.9870],
        zoom: 14
    });

    // disable zoom scrolling on map
    map.scrollWheelZoom.disable()

    // the zoom lowest (most zoomed out) level to focus to on venue focus
    const focusZoomLevel = 17

    function zoomMapTo(latLng) {
      map.setView(
        latLng, 
        map.getZoom() > focusZoomLevel ? map.getZoom() : focusZoomLevel);
    } 

    // on marker click in map, center map on venue
    function markerClick(e) {
        zoomMapTo(e.target.getLatLng())
    }
    // on checkin click in timeline, center map on venue
    function checkinClick(title) {
      console.log({title})
      // I need to lookup the appropriate marker, get its latLng, and center map
      const marker = markers.find(e => e.options.title === title)
      zoomMapTo(marker.getLatLng())
    }
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'tk',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1Ijoiam9uY2h1cmNoIiwiYSI6ImNqZG9ibDN0eTAwamUyem80ZjIxbTAyNDYifQ.MnMddqFz5r_RrQfxwmhjmQ'
        }).addTo(map)
        // lets loop through all these dang old venue items and snag up some spicy latlng!
    var markers = venues.map(e => L.marker([e.venue.location.lat, e.venue.location.lng], {
        title: e.venue.name
    }).addTo(map).bindPopup(e.venue.name).on('click', markerClick))

    var bounds = new L.LatLngBounds(markers.map(e => e.getLatLng()));
    // console.log(markers[0].getLatLng)
    map.fitBounds(bounds)

