extends layout

include mixins/_checkinBox.pug

block content

  h1.text-center Hi Mom!
  h4.text-center.font-italic Where I am it is currently: 
    span#clock ..loading
    

  .sticky-top
    #map

  #timeline
    .list-group
      each item in checkins
        +checkinBox(item)

  script.
    // Snag the venues data from our pug data injection, hope this works??
    var venues = !{JSON.stringify(venues)}
    var checkins = !{JSON.stringify(checkins)}
    // so every 20 seconds update the clock
    var clockInterval = setInterval(function(){tzTimer()},10000);
    function tzTimer() {
      var utc = new Date().getTime()
      var offsetInSeconds = checkins[0].timeZoneOffset * 60
      var tzTime = moment(utc + offsetInSeconds)
      document.getElementById('clock').innerHTML = tzTime.format('h:mm a dddd')
    }
    tzTimer()

    var map = L.map('map', {
        center: [18.7680, 98.9870],
        zoom: 14
    });

    // disable zoom scrolling on map
    map.scrollWheelZoom.disable()

    // the zoom lowest (most zoomed out) level to focus to on venue focus
    const focusZoomLevel = 16

    function zoomMapTo(latLng) {
      map.flyTo(
        latLng, 
        map.getZoom() > focusZoomLevel ? map.getZoom() : focusZoomLevel);
    } 

    // on marker click in map, center map on venue
    function markerClick(e) {
        zoomMapTo(e.target.getLatLng())
    }
    // on checkin click in timeline, center map on venue
    function checkinClick(title) {
      // I need to lookup the appropriate marker, get its latLng, and center map
      const marker = markers.find(e => e.options.title === title)
      zoomMapTo(marker.getLatLng())
      marker.openPopup()
    }

    var roads = L.gridLayer.googleMutant({type: 'terrain'}).addTo(map);

    var markers = venues.map(e => L.marker([e.venue.location.lat, e.venue.location.lng], {
        title: e.venue.name
    }).addTo(map).bindPopup(e.venue.name).on('click', markerClick))

    var bounds = new L.LatLngBounds(markers.map(e => e.getLatLng()));
    map.fitBounds(bounds)

